body {
  font-family: PTRootUI,sans-serif!important;
  font-size: 1rem;
  color: #212529;
}

.label-font {
  font-size: 17px;
  color: #175298;
}

.input-font {
  color: #78909c;
}

.a-table-head {
  color: #175298;
}

.a-table {
  text-decoration: none;
  color: #175298;
}

td {
  cursor: pointer;
}

.nav-link {
  cursor: pointer;
}

.active {
  background-color: #e2e5e5;
}

.menu-logo {
  width: 125px;
  height: 38px;
  /* background-image: url(https://o2.d-platforms.ru/brand/logo.svg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon {
  font-size: 32px;
}

.clientpage-link {
  font-size: 20px;
  color: #606266;
}

.link {
  font-size: 15px;
  color: #606266;
}

.label-style {
  font-size: 17px;
  color: #606266;
}

.label-data {
  font-size: 15px;
  cursor: pointer;
}